body {
	background-color: #F0F0E1;
	font-family: "Garamond", sans-serif;
	font-size: 20px;
}

h2 {
	font-size: 1.7em;
}

p {
	font-size: 1em;
}

h1 {
	text-align: center;
	font-size: 2em;
}

ul {
	list-style-type: lower-greek;
}

li {
	font-size: 1em;
}

li a {
        text-decoration: none;
        padding: 14px 16px;
        text-align: center;
        color: #d3d3d3;
        display:block;
}

li a:hover:not(.active) {
        background-color: #111;
}

li a:link {
        color:white;
}

#contactInfo {
	font-size: 1.5em;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #414141;
	border: 1px solid #d3d3d3;
}

.menuItem {
	float: left;
	border-right: 1px solid #d3d3d3;
}

#active {
	background-color: #04AA6D
}
